<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/
    
    # Si le fichier/dossier n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rediriger vers index.php avec le chemin en paramètre
    RewriteRule ^ index.php [QSA,L]
</IfModule>
